# MySQL Node1 설정 (Initial Primary)
[mysqld]

# 서버 고유 ID
server-id = 1

# 바이너리 로그 설정
log-bin           = mysql-bin
binlog-format     = ROW 
binlog-expire-logs-seconds = 604800

# 성능 및 안정성 설정
max_connections        = 200
innodb_buffer_pool_size = 256M

# 문자셋
character-set-server = utf8mb4
collation-server     = utf8mb4_unicode_ci

# GTID
gtid-mode               = ON
enforce-gtid-consistency = ON

# 로컬 파일 적재 허용 (LOAD DATA LOCAL INFILE)
local_infile = ON
secure_file_priv=''  # 특정 디렉토리 제한 해제

# ----------------------------------------------------------
# Group Replication
# binlog-do-db 제거: 클러스터 메타데이터 스키마(mysql_innodb_cluster_metadata)
# 복제를 위해 전체 스키마 binlog 기록 필요
# ----------------------------------------------------------
binlog_checksum = NONE

# TODO: unknown variable. 도커 로그 출력 시 아래 변수들이 적용이 안되는데 지워도 되는지 모르겠음
loose-group_replication_group_name            = "8f6e4dc3-9a2b-11ee-b9d1-0242ac120002"
loose-group_replication_start_on_boot         = OFF
loose-group_replication_local_address         = "mysql-node1:33061"
loose-group_replication_group_seeds           = "mysql-node1:33061,mysql-node2:33061,mysql-node3:33061"

