# MySQL Router R/W 포트 (→ Primary)
source.url=jdbc:mysql://localhost:6446/card_db?serverTimezone=Asia/Seoul
source.username=
source.password=

# MySQL Router R/O 포트 (→ Secondary, round-robin)
replica.url=jdbc:mysql://localhost:6447/card_db?serverTimezone=Asia/Seoul
replica.username=
replica.password=

# Redis
redis.host=localhost
redis.port=6379
