# MySQL Source (Master) 설정
[mysqld]

# 서버 고유 ID
server-id = 1

# 바이너리 로그 설정
log-bin = mysql-bin
binlog-format = ROW          
binlog-expire-logs-seconds = 604800  # 바이너리 로그 7일 후 자동 삭제

# 복제 대상 DB 지정
binlog-do-db = card_db

# 성능 및 안정성 설정
max_connections = 200
innodb_buffer_pool_size = 256M   

# 문자셋
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

gtid-mode = ON
enforce-gtid-consistency = ON

# 로컬 파일 적재 허용 (LOAD DATA LOCAL INFILE)
local_infile = ON
